#define WIFI_SSID "MyNetworkSSID"
#define WIFI_PASS "MyNetworkPassword1234"
#define API_BASE "http://HOST:PORT/api/v1/warehouse"
#define SS_PIN 21
#define RST_PIN 22
#define TRIG_PIN 32
#define ECHO_PIN 34
#define DISTANCE_THRESHOLD 5
#define GREEN_LED_PIN 2
#define RED_LED_PIN 4
#define BUZZER_PIN 5
#define I2C_SDA_PIN 25
#define I2C_SCL_PIN 26
#define LCD_ADDRESS 0x27
#define LCD_COLS 16
#define LCD_ROWS 2
